- var title = Mikey App - Your Personal Surfing Coach
- var siteName = Mikey App
- var description = "Meet, your personal surfing coach. Learn how to surf with the best advice every step of the way"

//Tech Meta
meta( http-equiv="Content-Type", content="text/html; charset=utf-8" )
meta( http-equiv="X-UA-Compatible", content="IE=7")
meta( name="viewport", content="width=device-width, initial-scale=1.0")

//Basic Meta
title= title
meta( name="description", content=description)
meta( name="keywords", content="personal surf learning coach trainer training learn surfing how-to personal app iphone assistant")
meta( name="author", content="Flourish Learning, Inc.")

//Facebook Meta
meta( property="og:title",    content=title )
meta( property="og:site_name",  content=siteName)
meta( property="og:description", content=description )
meta( property="og:type", content="website" )
meta( property="og:url", content="http://mikeyapp.com" )
meta( property="og:image", content="http://mikeyapp.com/fb-img.jpg" )

script(type="application/ld+json").
	{
	  "@context": "http://schema.org",
	  "@type": "Organization",
	  "url": "http://www.mikeyapp.com"
	}
